@using SaveASpot.Controllers
@model SaveASpot.ViewModels.PhasesAndParcels.ParcelsViewModel
@{
	ViewBag.Title = "Index";
}

<input id="@SiteConstants.ParcelsAndSpotsTabSpecificReadyAlias" value="@SiteConstants.ParcelsControllerAlias" type="hidden" />

<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var parcelViewModel in Model.Parcels)
	{
			<tr>
				<td>@parcelViewModel.Name</td>
				<td>
					<button class="btn btn-danger" data-parcel-delete-identity="@parcelViewModel.Identity" data-parcel-delete-name="@parcelViewModel.Name">Delete</button></td>
			</tr>
	}
	</tbody>
</table>
