@using SaveASpot.Controllers
@using SaveASpot.Controllers.Artifacts
@using SaveASpot.Core.Web.Mvc.Extensions
@{
	ViewBag.Title = "Index";
}
<link rel="stylesheet" href="@Url.Content("~/Content/css/phases-page.css")" type="text/css" media="screen" />

<script type="text/javascript">
    var parcelPage = {};
    (function (ns) {
        ns.addNewParcelsDoc = function () {
            $('form#parcels #new-item-link').click(function () {
                var lastInput = $('form#parcels input[type!=submit]:last');
                var id = $(lastInput).attr('id');
                var idToInt = parseInt(id, 10);
                var nextId = idToInt + 1;
                $(lastInput).after('<input type="file" name="postedParcels" id="' + nextId + '" width="30px" height="10px;"/>')
                            .after('<br/><br/>');
            });
        };

        ns.addNewSpotsDoc = function () {
            $('form#spots #new-item-link').click(function () {
                var lastInput = $('form#spots input[type!=submit]:last');
                var id = $(lastInput).attr('id');
                var idToInt = parseInt(id, 10);
                var nextId = idToInt + 1;
                $(lastInput).after('<input type="file" name="postedSpots" id="' + nextId + '" width="30px" height="10px;"/>')
                            .after('<br/><br/>');
            });
        };
    })(parcelPage);


    $(function () {
        parcelPage.addNewParcelsDoc();
        parcelPage.addNewSpotsDoc();
    });
</script>


<input id="@SiteConstants.TabSpecificReadyAlias" value="@SiteConstants.PhasesAndParcelsControllerAlias" type="hidden" />
<div class="content wide-content">
     <h2>Phases & Parcels</h2><br/><br/>
    <table id="phases-and-parcels-uploader-table">
        <tbody>
            <th>
                <div><h3>Select Parcels files to upload</h3></div><br/>
            </th>
            <th>
                <div><h3>Select Spots files to upload</h3></div><br/>
            </th>
            <tr>
                <td style="width: 50%; text-align: center; vertical-align: top;">           
                    <fieldset>
                        @using (Html.BeginForm("UploadParcels", "Phases", FormMethod.Post, new { @id = "parcels", enctype = "multipart/form-data" }))
                        {
                            <input type="file" name="postedParcels" id="1" width="30px" height="10px;"/><br /><br />
                            <input type="file" name="postedParcels" id="2" width="30px" height="10px;"/><br /><br />
                            <input type="file" name="postedParcels" id="3" width="30px" height="10px;"/><br /><br />
            
                            <a id="new-item-link" href="javascript:void(0)">Add new file</a><br /><br />
            
                            <input type="submit" name="Submit" value="Upload" id="submit"/>
                        }
                    </fieldset>
                </td>
                <td style="width: 50%; text-align: center; vertical-align: top;">
                    <fieldset>
                        @using (Html.BeginForm("UploadSpots", "Phases", FormMethod.Post, new { @id = "spots", enctype = "multipart/form-data" }))
                        {
                            <input type="file" name="postedSpots" id="1" width="30px" height="10px;"/><br /><br />
                            <input type="file" name="postedSpots" id="2" width="30px" height="10px;"/><br /><br />
                            <input type="file" name="postedSpots" id="3" width="30px" height="10px;"/><br /><br />
            
                            <a id="new-item-link" href="javascript:void(0)">Add new file</a><br /><br />
            
                            <input type="submit" name="Submit" value="Upload" id="submit"/>
                        }
                    </fieldset>
                </td>
            </tr>
        </tbody>
    </table>

<div class="content wide-content">
	<div class="accordion" id="accordion">
		@foreach (var tabElement in Html.For<PhasePageTabAttribute>())
	{
			<div class="accordion-group">
				<div class="accordion-heading">
					@(Html.ButtonForElement<PhasePageTabAttribute>("a", tabElement.Alias, new { @class = "accordion-toggle", href = "#" }))
				</div>
				<div class="accordion-body collapse in">
					@using (Html.BeginContainerForElement<PhasePageTabAttribute>("div", tabElement.Alias, htmlAttributes: new { @class = "accordion-inner" }))
		 {
						@tabElement.Title
		 }
				</div>
			</div>
	}
	</div>
</div>
