@using SaveASpot.Controllers
@model SaveASpot.ViewModels.PhasesAndParcels.PhasesViewModel
@{
	ViewBag.Title = "Index";
}

<input id="@SiteConstants.ParcelsAndSpotsTabSpecificReadyAlias" value="@SiteConstants.PhasesControllerAlias" type="hidden" />

<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Spot Price (in cents)</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var phaseViewModel in Model.Phases)
		{
			<tr phase-id="@phaseViewModel.Identity.ToString()">
				<td data-phase-name="">@phaseViewModel.Name</td>
				<td data-phase-spot-price="">@phaseViewModel.SpotPrice</td>
				<td>
					<button class="btn btn-primary" data-phase-edit-identity="@phaseViewModel.Identity.ToString()" data-phase-edit-name="@phaseViewModel.Name" >Edit</button>
					<button class="btn btn-danger" data-phase-delete-identity="@phaseViewModel.Identity.ToString()" data-phase-delete-name="@phaseViewModel.Name">Delete</button>
				</td>
			</tr>
		}
	
	</tbody>
</table>
