@using SaveASpot.Controllers
@using SaveASpot.Controllers.Artifacts.ViewExtensions
@using SaveASpot.Core.Web.Mvc.ViewExtensions
@{
	var extensions = ViewExtensionFilter.GetViewExtensionExecuter(ViewContext);
}

<!DOCTYPE html>
<html>
<head>
	<title>@ViewBag.Title | Save A Spot</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="author" content="SquareHook.com" />

	<!-- bootstrap -->
	<link href="@Url.Content("~/Content/css/bootstrap/bootstrap.css")" rel="stylesheet" />
	<link href="@Url.Content("~/Content/css/bootstrap/bootstrap-responsive.css")" rel="stylesheet" />
	<link href="@Url.Content("~/Content/css/bootstrap/bootstrap-overrides.css")" type="text/css" rel="stylesheet" />

	<!-- global styles -->
	<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/layout.css")" />
	<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/elements.css")" />
	<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/icons.css")" />
	<link rel="shortcut icon" href="@Url.Content("~/Content/img/favicon.ico")" type="image/ico"/>

	<!-- libraries -->
	<link href="@Url.Content("~/Content/css/lib/font-awesome.css")" type="text/css" rel="stylesheet" />

	<!-- this page specific styles -->
	<link rel="stylesheet" href="@Url.Content("~/Content/css/compiled/gallery.css")" type="text/css" media="screen" />
	@RenderSection("styles", false)

	<!-- open sans font -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css' />

	<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<script>
		@*See "SaveASpot\SaveASpot\Scripts\js\saveaspot.initscript.js"*@
		(function () { var a = []; window.q = function (c, b) { if (b === undefined && c === undefined) { return window.q } if (b == undefined && typeof c === "function") { b = c; c = undefined } if (window.q.init == undefined) { a.push({ filter: c, handler: b }) } return window.q }; window.q.ready = function (b) { window.q(b); return window.q }; window.q.readyCollection = function () { return a }; window.onerror = function (d, e, b) { var c = {}; c.message = d; c.source = e; c.lineNumber = b; $.ajax({ type: "POST", contentType: "application/json; charset=utf-8", data: JSON.stringify(c), url: "ErrorPage/LogJavascriptError" }) } })();
	</script>

	@RenderBody()

	<!-- end main container -->

	<!-- footer -->
	<footer class="footer">
		<div class="container">
			<p style="text-align: center;">
				Powered by
			<br />
				<a href="http://www.squarehook.com">SquareHook</a>
			</p>
		</div>
	</footer>
	<!-- end footer -->

	<!-- this page scripts -->
	@{ extensions.Execute(new JavascriptOptionsElementIdentity()); }
	<!-- end this page scripts -->

	@{ Html.RenderPartial(SiteConstants.Controls.ModalDialogContentView);}

	@RenderSection("Footer", false)

	@{
		extensions.Execute(new ViewScriptsElementIdentity());
	}
</body>
</html>
