@using Newtonsoft.Json
@using SaveASpot.Core.Security
@{
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<title>@ViewBag.Title | Save A Spot</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="author" content="SquareHook.com" />

	<!-- bootstrap -->
	<link href="@Url.Content("~/Content/css/bootstrap/bootstrap.css")" rel="stylesheet" />
	<link href="@Url.Content("~/Content/css/bootstrap/bootstrap-responsive.css")" rel="stylesheet" />
	<link href="@Url.Content("~/Content/css/bootstrap/bootstrap-overrides.css")" type="text/css" rel="stylesheet" />

	<!-- global styles -->
	<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/layout.css")" />
	<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/elements.css")" />
	<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/icons.css")" />

	<!-- libraries -->
	<link href="@Url.Content("~/Content/css/lib/font-awesome.css")" type="text/css" rel="stylesheet" />

	<!-- this page specific styles -->
	<link rel="stylesheet" href="@Url.Content("~/Content/css/compiled/gallery.css")" type="text/css" media="screen" />
	<link rel="stylesheet" href="@Url.Content("~/Content/css/map.css")" type="text/css" />
	@RenderSection("styles", false)

	<!-- open sans font -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css' />

	<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<script>
		@*See "SaveASpot\SaveASpot\Scripts\js\saveaspot.initscript.js"*@
		(function () { var a = []; window.q = function (c, b) { if (b === undefined && c === undefined) { return window.q } if (b == undefined && typeof c === "function") { b = c; c = undefined } if (window.q.init == undefined) { a.push({ filter: c, handler: b }) } return window.q }; window.q.ready = function (b) { window.q(b); return window.q }; window.q.readyCollection = function () { return a } })();
	</script>

	@RenderBody()

	<!-- end main container -->

	<!-- footer -->
	<footer class="footer">
		<div class="container">
			<p style="text-align: center;">
				Powered by
			<br />
				<a href="http://www.squarehook.com">SquareHook</a>
			</p>
		</div>
	</footer>
	<!-- end footer -->

	<!-- this page scripts -->
	@if (ViewConfiguration.UseMinimizedScripts)
 {
		<script src="http://code.jquery.com/jquery.min.js" type="text/javascript"></script>
		<script src="@Url.Content("~/Scripts/js/bootstrap.min.js")" type="text/javascript"></script>
		<script src="@Url.Content("~/Scripts/js/theme.js")" type="text/javascript"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCw9fP5c4kc5MiZBvUzLiMc8tY00BU4_i4&sensor=true" type="text/javascript"></script>
		<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
@*<script src="@Url.Content("~/Scripts/js/map.js")" type="text/javascript"></script>*@
		<script src="@Url.Content("~/Scripts/js/saveaspot.js")" type="text/javascript"></script>
		<script src="@Url.Content("~/Scripts/js/saveaspot.site.js")" type="text/javascript"></script>
 }
 else
 {
		<script src="http://code.jquery.com/jquery-latest.js" type="text/javascript"></script>
		<script src="@Url.Content("~/Scripts/js/bootstrap.js")" type="text/javascript"></script>
		<script src="@Url.Content("~/Scripts/js/theme.js")" type="text/javascript"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCw9fP5c4kc5MiZBvUzLiMc8tY00BU4_i4&sensor=true" type="text/javascript"></script>
		<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
@*<script src="@Url.Content("~/Scripts/js/map.js")" type="text/javascript"></script>*@
		<script src="@Url.Content("~/Scripts/js/saveaspot.js")" type="text/javascript"></script>
		<script src="@Url.Content("~/Scripts/js/saveaspot.site.js")" type="text/javascript"></script>
 }
	<!-- end this page scripts -->

	@RenderSection("Footer", false)

	<script>
		q(function () {
			@if (ViewConfiguration.User.IsExists())
	 {
		 @Html.Raw("q.security.user().login(" + JsonConvert.SerializeObject(ViewConfiguration.User.AsUserJson()) + ");")
	 }
	 else
	 {
		 @Html.Raw("q.security.user().logout();")
	 }
		});
	</script>
</body>
</html>
