<<<<<<< HEAD
﻿@using SaveASpot.Controllers
@model SaveASpot.ViewModels.PhasesAndParcels.SpotsViewModel
@{
	ViewBag.Title = "Index";
}

<input id="@SiteConstants.ParcelsAndSpotsTabSpecificReadyAlias" value="@SiteConstants.SpotsControllerAlias" type="hidden" />

<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var spotViewModel in Model.Spots)
	{
			<tr>
				<td>@spotViewModel.Name</td>
				<td>
					<button class="btn btn-danger" data-spot-delete-identity="@spotViewModel.Identity" data-spot-delete-name="@spotViewModel.Name">Delete</button></td>
			</tr>
	}
	</tbody>
</table>
=======
﻿@{
    ViewBag.Title = "Index";
}

<h2>Index 3 la la</h2>
>>>>>>> 69c9ebf3750dc4ebe298d09f86679f1667ba5937
