@model SaveASpot.ViewModels.LogOnViewModel
@{
	ViewBag.Title = "Log On";
	Layout = null;
	ViewContext.FormContext = new FormContext();
}

<div data-logon-url="@Url.Action("LogOn")">
	<fieldset>
		<legend>Account Information</legend>

		<div style="display: none;" data-error-message="" class="alert alert-error">
			<button type="button" class="close" data-dismiss="alert">×</button>
			<span data-error-message-content=""></span>
		</div>

		<div class="editor-label">
			@Html.LabelFor(m => m.UserName)
		</div>
		<div class="editor-field">
			@Html.TextBoxFor(m => m.UserName)
			@Html.ValidationMessageFor(m => m.UserName)
		</div>

		<div class="editor-label">
			@Html.LabelFor(m => m.Password)
		</div>
		<div class="editor-field">
			@Html.PasswordFor(m => m.Password)
			@Html.ValidationMessageFor(m => m.Password)
		</div>

		<div class="editor-label">
			@Html.CheckBoxFor(m => m.RememberMe)
			@Html.LabelFor(m => m.RememberMe)
		</div>
	</fieldset>
</div>
