@model IEnumerable<SaveASpot.ViewModels.SponsorViewModel>

@using SaveASpot.Controllers
@{
	ViewBag.Title = "Index";
}

<input id="@SiteConstants.MainMenuTabSpecificReadyAlias" value="@SiteConstants.SponsorsControllerAlias" type="hidden" />

<div class="content wide-content">
	<div class="navbar">
		<div class="navbar-inner">
			<button type="button" id="createSponsor" class="btn btn-primary">Create Sponsor</button>
		</div>
	</div>
	<table class="table">
		<thead>
			<tr >
				<th>Company name</th>
				<th>Sentence</th>
				<th>Url</th>
				<th>Logo</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var sponsor in Model)
	 {
				<tr id="@sponsor.Identity">
					<td company-name>@sponsor.CompanyName</td>
					<td company-sentence>@sponsor.Sentence</td>
					<td company-url>@sponsor.Url</td>
					<td company-logo>@sponsor.Logo</td>
					<td>
						<button class="btn btn-primary" data-sponsor-edit-identity="@sponsor.Identity" data-sponsor-edit-name="@sponsor.CompanyName">Edit</button>
						<button class="btn btn-danger" data-sponsor-delete-identity="@sponsor.Identity" data-sponsor-delete-name="@sponsor.CompanyName">Delete</button>
					</td>
				</tr>
	 }
		</tbody>
	</table>
</div>
